<%- include('../../partials/header') %>

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Customers</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Customers</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="customerList">
                        <div class="card-header border-bottom-dashed">

                            <div class="row g-4 align-items-center">
                                <div class="col-sm">
                                    <div>
                                        <h5 class="card-title mb-0">Customer List</h5>
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="d-flex flex-wrap align-items-start gap-2">
                                        <button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                        <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Add Customer</button>
                                        <button type="button" class="btn btn-info"><i class="ri-file-download-line align-bottom me-1"></i> Import</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border-bottom-dashed border-bottom">
                            <form action="" method="get">
                                <div class="row g-3">
                                    <div class="col-xl-6">
                                        <div class="search-box">
                                            <input type="text" class="form-control search" name="search" value="<%= search %>" placeholder="Search for customer, email, phone, status or something...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xl-6">
                                        <div class="row g-3">
                                            <div class="col-sm-4">
                                                <div class="">
                                                    <input type="text" class="form-control" value="<%= date %>" id="datepicker-range" name="date" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" placeholder="Select date">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-sm-4">
                                                <div>
                                                    <select class="form-control" data-plugin="choices" data-choices data-choices-search-false name="status">
                                                        <option value="all" <% if (status == 'all') { %>selected<% } %>>All</option>
                                                        <option value="active" <% if (status == 'active') { %>selected<% } %>>Active</option>
                                                        <option value="inactive" <% if (status == 'inactive') { %>selected<% } %>>Inactive</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--end col-->

                                            <div class="col-sm-4">
                                                <div>
                                                    <button type="submit" class="btn btn-primary w-100" > <i class="ri-equalizer-fill me-2 align-bottom"></i>Filters</button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                    </div>
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="table-responsive table-card mb-1">
                                    <table class="table align-middle" id="customerTable">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th scope="col" style="width: 50px;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                    </div>
                                                </th>
                                                <th class="sort" data-sort-index="<%= sortColumn === 'fullName' ? sortIndex : '1' %>" data-sort="fullName">Customer</th>
                                                <th class="sort" data-sort-index="<%= sortColumn === 'email' ? sortIndex : '1' %>" data-sort="email">Email</th>
                                                <th class="sort" data-sort-index="<%= sortColumn === 'phone' ? sortIndex : '1' %>" data-sort="phone">Phone</th>
                                                <th class="sort" data-sort-index="<%= sortColumn === 'createdAt' ? sortIndex : '1' %>" data-sort="createdAt">Joining Date</th>
                                                <th class="sort" data-sort-index="<%= sortColumn === 'status' ? sortIndex : '1' %>" data-sort="status">Status</th>
                                                <th >Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                            <% customers?.map( customer => { %>
                                                <tr>
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="chk_child" value="<%= customer._id %>">
                                                        </div>
                                                    </th>
                                                    <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a></td>
                                                    <td class="fullName"><%= customer.fullName %></td>
                                                    <td class="email"><%= customer.email %></td>
                                                    <td class="phone"><%= customer.phone %></td>
                                                    <td class="createdAt"><%= moment(customer.createdAt).format('YYYY-MM-DD') %></td>
                                                    <td class="status form-switch-md">
                                                        <!-- Base Switchs -->
                                                        <div class="form-check form-check-success form-switch">
                                                            <input class="form-check-input status-switch" data-value="<%= customer._id %>" data-query="<%= query %>" type="checkbox" role="switch" id="flexSwitchCheckDefault <%= customer._id %>" <% if (customer?.status === 'active') { %>checked<% } %>>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <ul class="list-inline hstack gap-2 mb-0">
                                                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                                <a href="#showModal" data-bs-toggle="modal" data-value="<%= customer._id %>" class="text-primary d-inline-block edit-item-btn">
                                                                    <i class="ri-pencil-fill fs-16"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                                <a class="text-danger d-inline-block remove-item-btn" data-value="<%= customer._id %>" data-bs-toggle="modal" href="#deleteRecordModal">
                                                                    <i class="ri-delete-bin-5-fill fs-16"></i>
                                                                </a>
                                                                <form action="/admin/customer/delete" method="post" id="deleteForm_<%= customer._id %>">
                                                                    <input type="text" name="id" id="<%= customer._id %>" value="<%= customer._id %>" hidden>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                    <% if (customers?.length < 1) { %>
                                        <div class="noresult" >
                                            <div class="text-center">
                                                <lord-icon src="/assets/libs/lordicon/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">We've searched more than 150+ customer We did not find any customer for you search.</p>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                                <% if (customers?.length > 0) { %>
                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <a class="page-item pagination-prev <% if (!paginate.hasPreviousPages) { %>disabled<% } %>" href="<%= paginate.hasPreviousPages ? paginate.href(true) : 'javascript:void(0)' %>">
                                                Previous
                                            </a>
                                            <ul class="pagination listjs-pagination mb-0">
                                                <% pages.map( pageObj => { %>
                                                    <li class="<% if (pageObj.number == page) { %>active<% } %>"><a href="<%= pageObj.url %>" class="page"><%= pageObj.number %></a></li>
                                                    
                                                <% }) %>
                                            </ul>
                                            <a class="page-item pagination-next <% if (!paginate.hasNextPages(pageCount)) { %>disabled<% } %>" href="<%= paginate.hasNextPages(pageCount) ? paginate.href() : 'javascript:void(0)' %>">
                                                Next
                                            </a>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="modal fade" id="showModal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header bg-light p-3">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                        </div>
                                        <form class="tablelist-form needs-validation" autocomplete="off" action="" method="post" novalidate>
                                            <div class="modal-body">
                                                <input type="hidden" id="id-field" />

                                                <div class="mb-3" id="modal-id" style="display: none;">
                                                    <label for="id-field1" class="form-label">ID</label>
                                                    <input type="text" id="id-field1" name="id" class="form-control" placeholder="ID" readonly />
                                                </div>

                                                <div class="mb-3">
                                                    <label for="customerfirstname-field" class="form-label">Customer First Name</label>
                                                    <input type="text" name="firstName" id="customerfirstname-field" class="form-control text-capitalize" placeholder="Enter first name" required />
                                                    <div class="invalid-feedback">Please enter a customer first name.</div>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="customerlastname-field" class="form-label">Customer Last Name</label>
                                                    <input type="text" name="lastName" id="customerlastname-field" class="form-control text-capitalize" placeholder="Enter last name" required />
                                                    <div class="invalid-feedback">Please enter a customer last name.</div>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="email-field" class="form-label">Email</label>
                                                    <input type="email" name="email" id="email-field" class="form-control" placeholder="Enter email" required />
                                                    <div class="invalid-feedback">Please enter an email.</div>
                                                </div>

                                                <div class="mb-3 password-area">
                                                    <label for="password-field" class="form-label">Password</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input type="password" name="password" class="form-control pe-5 password-input" placeholder="Enter password" id="password-input">
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                    </div>                                                    <div class="invalid-feedback">Please enter an password.</div>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="phone-field" class="form-label">Phone</label>
                                                    <input type="text" name="phone" id="phone-field" class="form-control" placeholder="Enter phone no." minlength="10" maxlength="10" required />
                                                    <div class="invalid-feedback">Please enter a phone.</div>
                                                </div>

                                                <div>
                                                    <label for="status-field" class="form-label">Status</label>
                                                    <select class="form-select" name="status" id="status-field" value="inactive"  data-choices data-choices-search-false required>
                                                        <option value="">Status</option>
                                                        <option value="active">Active</option>
                                                        <option value="inactive">Inactive</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a status
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-success" id="add-btn">Add Customer</button>
                                                    <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--end col-->
            </div>
            <!--end row-->

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>

<script src="/assets/js/pages/form-validation.init.js"></script>
<script src="/assets/js/pages/customer.js" ></script>
<!-- password-addon init -->
<script src="/assets/js/pages/password-addon.init.js"></script>
<%- include('../../partials/footer') %>